.advantages {
  padding: 0 20px 50px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 0 30px 47px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.advantages__title {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    margin-bottom: 72px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 57px;
    grid-row-gap: 37px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    margin-bottom: 40px;
  }
}

.advantages__item {
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    padding-top: 110px;
    padding-right: 80px;
    padding-bottom: 43px;
    padding-left: 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    padding-right: 20px;
  }
}
