.button {
  box-sizing: border-box;
  display: block;
  padding: 11px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: $green;

  &--grey {
    color: $grey;
    background-color: $basic-grey;
  }
}
