@media (min-width: $desktop-width) {
  .contact__wrapper {
    @include container;
    position: relative;
  }
}

.contact__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 26px 20px;

  &--grey {
    background-color: $basic-grey;
  }
}

@media (min-width: $tablet-width) {
  .contact__row {
    padding: 59px 70px 60px;
  }
}

@media (min-width: $desktop-width) {
  .contact__row {
    position: absolute;
    top: 95px;
    left: 0;
    box-sizing: border-box;
    grid-template-columns: 165px 155px;
    justify-content: space-between;
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.contact__title {
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .contact__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.contact__address {
  margin: 0;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contact__address {
    text-align: right;

    &--city {
      display: block;
      margin-top: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact__address {
    text-align: left;
  }
}

.contact__map {
  display: block;
  width: 100%;
  min-height: 362px;
  border: none;
}

@media (min-width: $tablet-width) {
  .contact__map {
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contact__map {
    min-height: 400px;
  }
}
