.contact__row {
  padding: 26px 20px;
}

.contact__title {
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contact__address {
  margin: 0;
  line-height: 20px;
}

.contact__map {
  display: block;
  width: 100%;
}
