.extra {
  padding: 25px 20px 35px;
}

@media (min-width: $tablet-width) {
  .extra {
    padding-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    @include container;
    padding-bottom: 86px;
  }
}

.extra__title {
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .extra__title {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .extra__wrapper {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-column-gap: 80px;
  }
}

.extra__box {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    margin-bottom: 35px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $tablet-width) {
  .extra__box {
    grid-column: 1 / 2;
  }
}

.extra__name {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.extra__table {
  width: 100%;
  margin-bottom: 15px;
  color: $grey;
  font-family: "Arial", sans-serif;

  td {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: $tablet-width) {
  .extra__bonus {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
}
