.header {
  position: relative;
  padding: 10px 20px 14px;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 25px 30px;
  }

  .header__logo {
    width: 60px;
    margin-right: 12px;
  }

  .header__company {
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 54px 30px;

    &--main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0;
      padding-top: 53px;
    }
  }

  .header__logo {
    width: 70px;
    margin-right: 14px;
  }
}
