.heading {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  &--small {
    position: relative;
    font-size: 24px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $green;
      transform: translateY(-50%);
    }
  }
}

@media (min-width: $tablet-width) {
  .heading {
    font-size: 60px;
    line-height: 60px;

    &--small {
      font-size: 36px;
      line-height: 36px;

      &::before {
        top: calc(50% + 5px);
      }
    }
  }
}

.heading__content {
  position: relative;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .heading__content {
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .heading__content {
    @include container;
    display: block;
  }
}

.heading__text {
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .heading__text {
    padding: 0 35px;
  }
}

@media (min-width: $desktop-width) {
  .heading__text {
    position: relative;
    left: -35px;
  }
}
