.header {
  position: relative;
  padding: 10px 20px 13px;
}

.header__link {
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;

    + .header__company {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.6;

    + .header__company {
      opacity: 0.6;
    }
  }
}

.header__company {
  position: relative;
  left: -5px;
  transition: opacity 0.3s;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 25px 30px;
  }

  .header__logo {
    width: 60px;
    margin-right: 12px;
  }

  .header__company {
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 54px 30px;

    &--main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0;
      padding-top: 53px;
    }
  }

  .header__logo {
    width: 70px;
    margin-right: 14px;
  }
}
