.live {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

@media (min-width: $tablet-width) {
  .live {
    padding: 43px 30px 56px;
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
  }
}

.live__title {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .live__title {
    margin-bottom: 63px;
  }
}

.live__text {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .live__text {
    margin-bottom: 54px;
  }
}

@media (min-width: $tablet-width) {
  .live__row {
    display: flex;
  }
}

.live__advantages {
  max-width: 124px;
  padding: 14px 0 18px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.live__number {
  display: block;
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
}

.live__desc {
  display: block;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 12px;
}

.live__spent {
  margin-top: 0;
  margin-bottom: 40px;
  font-style: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.live__example {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.live__button {
  padding: 5px 8px;
  font-size: 16px;
  font-family: inherit;
  line-height: 20px;
  border: none;
  background-color: transparent;

  &--before {
    margin-right: 13px;
  }

  &--after {
    margin-left: 13px;
  }
}

.live__range {
  max-width: 85px;
}
