.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .nav {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    @include container;
  }
}

.nav__burger {
  width: 24px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .nav__burger {
    display: none;
  }
}

.nav__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  background-color: #ffffff;
  z-index: 3;

  &--hide {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    max-width: 480px;
    background-color: transparent;
  }

  .nav__list--white .nav__link {
    color: #ffffff;

    &::after {
      background-color: #ffffff;
    }
  }
}

@media (min-width: $tablet-width) {
  .nav__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.nav__link {
  display: block;
  padding: 22px 24px;
  color: $black;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .nav__link {
    position: relative;
    padding: 9px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
  }

  .nav__link--active {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav__link {
    font-size: 20px;
    line-height: 30px;
  }
}
