.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__burger {
  width: 24px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.nav__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  background-color: #ffffff;
  z-index: 3;

  &--hide {
    display: none;
  }
}

.nav__link {
  display: block;
  padding: 22px 24px;
  color: $black;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-decoration: none;
  text-transform: uppercase;
}
