.product {
  padding: 20px 20px 24px;

  &--more {
    padding: 25px 20px;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 400;
  line-height: 20px;

  &--more {
    display: block;
    margin-bottom: 8px;
    padding-top: 53px;
    text-transform: uppercase;
  }
}

.product__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.product__table {
  min-width: 142px;
  color: $grey;
  font-family: "Arial", sans-serif;

  td {
    font-size: 12px;
    line-height: 16px;
  }
}
